.levelColumn {
  border: 1px solid rgba(0, 0, 0, 0.22);
  padding: 55px;
}

.quantumColumn {
}

.hyperColumn {
  background: #00d0d2;
}

.blastColumn {
  background: #000;
  color: #fff;
}

.blastColumn svg {
  fill: #fff;
}

.titleIconWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 61px;
}

.columnTitle {
  font-family: 'Mona Sans', sans-serif;
  font-weight: 700;
  font-size: 55px;
  line-height: 1.3;
  letter-spacing: -0.03em;

  text-transform: uppercase;
}

.columnIcon {
  width: 84px;
  height: 84px;
}

.quantumIcon {
  fill: #00d0d2;
}

.hyperIcon {
  fill: #000;
}

.blastIcon {
  fill: #fff;
}

.featureList {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.prices {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px;
}

.newPrice {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 86px;
  line-height: 1.3;
  letter-spacing: -0.02em;
}

.oldPrice {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 43px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  text-decoration: line-through;
  opacity: 0.33;
}

.columnButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}

.columnButton {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 8px;
  border: none;
  background: transparent;
  width: 500px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.columnButton:hover {
  transform: scale(1.05);
}

.blastColumn .columnButtonText {
  background: #fff;
}

.columnButtonText {
  font-family: 'Mona Sans', sans-serif;
  font-weight: 800;
  font-size: 26px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  padding: 41px 31px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 70%;
}

.columnButtonIconWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 121px;
  height: 108px;
  background-color: #00d0d2;
  border: 1px solid #00d0d2;
}

.hyperColumn .columnButtonIconWrap {
  background-color: #000;
}

.columnButtonIcon {
  width: 21px;
  height: 21px;
  stroke-width: 4.12px;
  stroke: #fff;
}
