.menuOverlay {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: #00d0d2;
  color: #000;
  transition: right 0.3s ease;
  z-index: 1000;
}

.menuOverlay.open {
  right: 0;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logoLink {
  display: inline-block;
}

.logo {
  width: 66px;
  height: 77px;
  position: absolute;
  left: 70px;
  top: 46px;
}

.menuTop {
  position: absolute;
  top: 76px;
  left: 267px;
  font-family: 'Mona Sans', sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 1.3;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fff;
}

.closeButton {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 19px;
  position: absolute;
  top: 70px;
  right: 70px;
}

.closeButtonText {
  font-family: 'Mona Sans', sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 1.3;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fff;
}

.closeButtonIcon {
  width: 40px;
  height: 40px;
  fill: #fff;
  transition: all 0.4s ease;
}

.closeButton:hover .closeButtonIcon {
  transform: rotate(-180deg);
}

.wrapper {
  flex-grow: 1;
  display: flex;
  padding: 199px 260px 90px 267px;
  gap: 158px;
}

.menuWrap {
  flex-grow: 1;
  flex-direction: row;
}

.menuNavigationList {
  display: flex;
  flex-direction: column;
  gap: 33px;
  min-width: 550px;
}

.menuNavigationItem a {
  font-family: 'Mona Sans', sans-serif;
  font-weight: 700;
  font-size: 54px;
  line-height: 1.3;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #000;
  transition: all 0.5s ease;
  position: relative;
}
.menuNavigationItem a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: all 0.5s ease;
}

.menuNavigationItem:hover a::after {
  width: 100%;
}

.menuNavigationItem:hover {
  transform: scale(1.02);
}

.menuWrapSecond {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.menuTitle {
  font-family: 'Druk Cyr', sans-serif;
  font-weight: 700;
  font-size: 198px;
  line-height: 0.99;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #000;
  padding: 80px 0;
}

.joinLink {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  width: 500px;
  margin-bottom: 60px;
  transition: all 0.5s ease;
}

.joinLink:hover {
  transform: scale(1.05);
}

.joinLinkText {
  font-family: 'Mona Sans', sans-serif;
  font-weight: 800;
  font-size: 26px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  padding: 41px 31px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 70%;
  color: #000;
}

.joinLinkIconWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 121px;
  height: 108px;
  background-color: #000;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.joinLinkIcon {
  width: 21px;
  height: 21px;
  stroke-width: 4.12px;
  stroke: #fff;
}

.email {
  font-family: 'Mona Sans', sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 1.3;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fff;
}

.copyright {
  font-family: 'Mona Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 2;
  letter-spacing: -0.02em;
  color: #fff;
  text-align: right;

  position: absolute;
  right: 70px;
  bottom: 102px;
}

@media (max-width: 767px) {
  .logoLink {
    display: none;
  }
  .menuTop {
    top: 45px;
    left: 19px;
    font-size: 20px;
  }
  .closeButton {
    gap: 14px;
    top: 45px;
    right: 30px;
  }
  .closeButtonText {
    font-size: 20px;
  }
  .closeButtonIcon {
    width: 20px;
    height: 20px;
  }
  .wrapper {
    padding: 90px 23px 90px;
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }
  .menuWrap {
    flex-grow: 0;
  }
  .menuNavigationList {
    align-items: center;
    gap: 5px;
  }
  .menuNavigationItem a {
    font-size: 32px;
  }
  .menuWrapSecond {
    justify-content: unset;
    align-items: center;
  }
  .menuTitle {
    font-size: 57px;
    padding: 20px 0 20px;
  }
  .joinLink {
    font-size: 18px;
    gap: 4px;
    width: 60%;
    min-width: 294px;
    margin-bottom: 20px;
  }
  .joinLinkText {
    font-size: 14px;
    padding: 28px 45px;
    width: 50%;
  }
  .joinLinkIconWrap {
    width: 70px;
    height: 70px;
  }
  .joinLinkIcon {
    width: 13px;
    height: 13px;
    stroke-width: 2.41px;
  }
  .email {
    font-size: 24px;
  }
  .copyright {
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    position: absolute;
    right: 30%;
    bottom: 47px;
    opacity: 0.5;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .logo {
    width: 50px;
    height: 60px;
    left: 50px;
    top: 30px;
  }

  .menuTop {
    top: 60px;
    left: 150px;
    font-size: 30px;
  }

  .closeButton {
    gap: 12px;
    top: 60px;
    right: 50px;
  }

  .closeButtonText {
    font-size: 30px;
  }

  .closeButtonIcon {
    width: 25px;
    height: 25px;
  }

  .wrapper {
    padding: 100px 50px 100px 100px;
    gap: 10px;
  }

  .menuNavigationList {
    gap: 20px;
    margin-top: 20px;
    min-width: 300px;
  }
  .menuNavigationItem a {
    font-size: 36px;
  }

  .menuTitle {
    font-size: 90px;
    padding: 40px 0;
  }

  .joinLink {
    width: 95%;
    gap: 6px;
  }

  .joinLinkText {
    font-size: 18px;
    padding: 31px 24px;
  }

  .joinLinkIconWrap {
    width: 90px;
    height: 80px;
  }

  .joinLinkIcon {
    width: 18px;
    height: 18px;
  }

  .email {
    font-size: 25px;
  }

  .copyright {
    font-size: 14px;
    line-height: 1.8;
    right: 50px;
    bottom: 60px;
  }
}

@media (min-width: 1440px) and (max-width: 1979px) {
  .logo {
    width: 60px;
    height: 70px;
    left: 60px;
    top: 40px;
  }

  .menuTop {
    top: 70px;
    left: 200px;
    font-size: 38px;
  }

  .closeButton {
    gap: 14px;
    top: 70px;
    right: 60px;
  }

  .closeButtonText {
    font-size: 38px;
  }

  .closeButtonIcon {
    width: 30px;
    height: 30px;
  }

  .wrapper {
    padding: 150px 120px 100px;
    gap: 30px;
  }

  .menuNavigationList {
    gap: 10px;
    margin-top: 0;
    min-width: 450px;
  }

  .menuNavigationItem a {
    font-size: 42px;
  }

  .menuTitle {
    font-size: 140px;
    padding: 20px 0;
  }

  .joinLink {
    width: 80%;
    gap: 7px;
  }

  .joinLinkText {
    font-size: 22px;
    padding: 40px 28px;
  }

  .joinLinkIconWrap {
    width: 100px;
    height: 102px;
  }

  .joinLinkIcon {
    width: 20px;
    height: 20px;
  }

  .email {
    font-size: 40px;
  }

  .copyright {
    font-size: 16px;
    line-height: 2;
    right: 70px;
    bottom: 80px;
  }
}
