.audienceSection {
  padding: 64px 70px;
  display: flex;
  flex-direction: column;
  gap: 43px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.01) 0%, #000 100%);
}

.audienceSectionTitle {
  font-family: 'Druk Cyr', sans-serif;
  font-weight: 700;
  font-size: 133px;
  line-height: 0.99;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #000;
}

.cardsWrapperTop {
  display: flex;
  flex-shrink: 1;
  gap: 0;
}

.cardsWrapperMid {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.cardsWrapperLow {
  display: flex;
  gap: 0;
}

.counter {
  font-family: 'Mona Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 0.99;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #fff;
  transition: color 0.3s ease;
}

.counterAccent {
  color: rgba(255, 255, 255, 0.33);
  transition: color 0.3s ease;
}

.counter:hover {
  color: #000;
}

.counter:hover .counterAccent {
  color: rgba(0, 0, 0, 0.33);
}

.counterIconWrapper {
  display: flex;
  justify-content: space-between;
}

.cardTitle {
  font-family: 'Druk Cyr', sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 0.99;
  text-transform: uppercase;
  color: #fff;
}

.cardText {
  font-family: 'Mona Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.44;
  letter-spacing: -0.03em;
  color: #fff;
}

.newbiesCard {
  border: 3px solid #fff;
  border-radius: 22px;
  width: 447px;
  padding: 27px 35px 32px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0.2;
  transition: all 0.3s ease, color 0.3s ease, fill 0.3s ease;
}

.newbiesCardIconMobile {
  display: none;
}

.newbiesCard:hover {
  background-color: #fff;
  color: #000;
}

.newbieCounter {
  margin-bottom: 60px;
}

.newbieTitle {
  margin-bottom: 10px;
}

.newbieText {
  margin-bottom: 28px;
  width: 291px;
}

.newbiesCardIcon {
  width: 210px;
  height: 210px;
  fill: #fff;
}

.smallCard {
  border: 3px solid #fff;
  border-radius: 22px;
  padding: 27px 35px 32px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: all 0.3s ease, color 0.3s ease, fill 0.3s ease;
}

.smallCard:hover {
  background-color: #fff;
  color: #000;
}

.youngProfessionalsCardIcon {
  width: 63px;
  height: 63px;
  fill: #fff;
}

.advancedLearnersCardIcon {
  width: 63px;
  height: 63px;
  fill: #fff;
}

.tattooVeteransCardIcon {
  width: 61px;
  height: 63px;
  fill: #fff;
}

.ageWarningCard {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 51px;
  border: 3px solid #fff;
  border-radius: 22px;
  flex-shrink: 1;
  min-height: 248px;
  transition: all 0.3s ease, color 0.3s ease, fill 0.3s ease;
}

.ageWarningCard:hover {
  background-color: #fff;
  color: #000;
}

.ageWarningText {
  font-family: 'Mona Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.44;
  letter-spacing: -0.03em;
  text-align: center;
  color: #fff;
  width: 235px;
}

.ageWarningIconsGroup {
  display: flex;
  gap: 18px;
}

.ageIcons {
  fill: #fff;
}

.ageWarningCard:hover .ageIcons {
  fill: #000;
}

.newbiesCard:hover .cardTitle,
.newbiesCard:hover .cardText,
.smallCard:hover .cardTitle,
.smallCard:hover .cardText,
.ageWarningCard:hover .ageWarningText {
  color: #000;
}

.newbiesCard:hover .counter,
.smallCard:hover .counter,
.ageWarningCard:hover .counter {
  color: #000;
}

.newbiesCard:hover .counterAccent,
.smallCard:hover .counterAccent,
.ageWarningCard:hover .counterAccent {
  color: rgba(0, 0, 0, 0.33);
}

.newbiesCard:hover .newbiesCardIcon,
.smallCard:hover .youngProfessionalsCardIcon,
.smallCard:hover .advancedLearnersCardIcon,
.smallCard:hover .tattooVeteransCardIcon {
  fill: #000;
}

@media (max-width: 767px) {
  .audienceSectionTitle {
    display: none;
  }
  .audienceSection {
    padding: 50px 20px;
  }
  .cardTitle {
    color: #000;
  }
  .cardText {
    color: #000;
  }
  .cardsWrapperTop {
    flex-direction: column;
    gap: 12px;
  }
  .cardsWrapperMid {
    flex-direction: column;
    gap: 12px;
  }
  .cardsWrapperLow {
    flex-direction: column;
    gap: 12px;
  }
  .counter {
    color: #000;
  }
  .counterAccent {
    color: rgba(0, 0, 0, 0.33);
  }
  .newbiesCard {
    width: auto;
    border: none;
    background-color: #00d0d2;
    padding: 27px;
    color: #000;
  }
  .newbiesCard:hover {
    background-color: #00d0d2;
  }
  .newbiesCardIcon {
    display: none;
  }
  .newbiesCardIconMobile {
    width: 44px;
    height: 44px;
    fill: #000;
    display: block;
    stroke-width: 32px;
  }
  .counterIconMobileWrap {
    display: flex;
    justify-content: space-between;
  }
  .newbieTitle {
    color: #000;
    margin-bottom: 32px;
  }
  .newbieText {
    max-width: 500px;
    width: auto;
    color: #000;
    margin-bottom: 0;
  }
  .smallCard {
    border: none;
    border-radius: 22px;
    padding: 27px;
    transition: all 0.3s ease, color 0.3s ease, fill 0.3s ease;
    background-color: #fff;
  }
  .smallCard:hover {
    background-color: #fff;
    color: #000;
  }
  .youngProfessionalsCardIcon {
    width: 44px;
    height: 44px;
    fill: #000;
  }
  .advancedLearnersCardIcon {
    width: 44px;
    height: 53px;
    fill: #000;
  }
  .tattooVeteransCardIcon {
    width: 43px;
    height: 44px;
    fill: #000;
  }
  .ageWarningCard {
    flex-direction: column;
    background-color: #000;
    border: none;
    min-height: 0;
    gap: 0;
  }
  .ageWarningCard:hover {
    background-color: #000;
    color: #fff;
  }
  .ageWarningText {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.44;
    letter-spacing: -0.03em;
    text-align: center;
    color: #fff;
    min-width: 235px;
    width: 0;
  }
  .ageWarningIconsGroup {
    flex-direction: column;
  }
  .ageWarningCard:hover .ageWarningText {
    color: #fff;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .audienceSectionTitle {
    display: unset;
    font-size: 90px;
  }
  .audienceSection {
    padding: 50px 70px;
  }
  .cardTitle {
    color: #000;
  }
  .cardText {
    color: #000;
  }
  .cardsWrapperTop {
    flex-direction: column;
    gap: 12px;
  }
  .cardsWrapperMid {
    flex-direction: column;
    gap: 12px;
  }
  .cardsWrapperLow {
    flex-direction: column;
    gap: 12px;
  }
  .counter {
    color: #000;
  }
  .counterAccent {
    color: rgba(0, 0, 0, 0.33);
  }
  .newbiesCard {
    width: auto;
    border: none;
    background-color: #00d0d2;
    padding: 27px;
    color: #000;
  }
  .newbiesCard:hover {
    background-color: #00d0d2;
  }
  .newbiesCardIcon {
    display: none;
  }
  .newbiesCardIconMobile {
    width: 44px;
    height: 44px;
    fill: #000;
    display: block;
    stroke-width: 32px;
  }
  .counterIconMobileWrap {
    display: flex;
    justify-content: space-between;
  }
  .newbieTitle {
    color: #000;
    margin-bottom: 32px;
  }
  .newbieText {
    max-width: 500px;
    width: auto;
    color: #000;
    margin-bottom: 0;
  }
  .smallCard {
    border: none;
    border-radius: 22px;
    padding: 27px;
    transition: all 0.3s ease, color 0.3s ease, fill 0.3s ease;
    background-color: #fff;
  }
  .smallCard:hover {
    background-color: #fff;
    color: #000;
  }
  .youngProfessionalsCardIcon {
    width: 44px;
    height: 44px;
    fill: #000;
  }
  .advancedLearnersCardIcon {
    width: 44px;
    height: 53px;
    fill: #000;
  }
  .tattooVeteransCardIcon {
    width: 43px;
    height: 44px;
    fill: #000;
  }
  .ageWarningCard {
    flex-direction: column;
    background-color: #000;
    border: none;
    min-height: 0;
    gap: 0;
  }
  .ageWarningCard:hover {
    background-color: #000;
    color: #fff;
  }
  .ageWarningText {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.44;
    letter-spacing: -0.03em;
    text-align: center;
    color: #fff;
    min-width: 235px;
    width: 0;
  }
  .ageWarningIconsGroup {
    flex-direction: row;
  }
  .ageWarningCard:hover .ageWarningText {
    color: #fff;
  }
}

@media (min-width: 1440px) and (max-width: 1979px) {
  .newbiesCard {
    width: auto;
    padding: 27px;
    color: #000;
  }
  .smallCard {
    border-radius: 22px;
    padding: 27px;
  }
  .ageWarningCard {
    flex-direction: column;
    gap: 0;
  }
}
