.feature {
  width: 100%;
}

.featureIconTitleWrapper {
  display: flex;
  gap: 12px;
  align-items: baseline;
}

.featureIcon {
  width: 18px;
  height: 18px;
}
.featureTitle {
  font-family: 'Mona Sans', sans-serif;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -0.02em;
}
.featureContent {
  font-family: 'Mona Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  opacity: 0.66;
}

.disabledFeature {
  opacity: 0.22;
}

@media (max-width: 767px) {
  .featureIconTitleWrapper {
    gap: 7px;
  }
  .featureTitle {
    font-size: 14px;
  }
  .featureContent {
    font-size: 14px;
  }
}
