.iconGroup {
  display: flex;
  gap: 8px;
  align-items: center;
  transition: fill 0.3s ease;
}

.iconTarget,
.iconWhirl,
.iconGeomSmall,
.iconGlobe,
.iconGeomBig {
  transition: fill 0.3s ease;
}

.iconTarget {
  width: 19px;
}

.iconWhirl {
  width: 20px;
}

.iconGeomSmall {
  width: 22px;
}

.iconGlobe {
  width: 38px;
}

.iconGeomBig {
  width: 26px;
}
