.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 46px 70px;
}

@media (max-width: 767px) {
  .header {
    background-color: #000;
    position: fixed;
    top: 0;
    padding: 31px 0px;
    width: 100%;
    z-index: 15;
  }
}

.logoIcon {
  width: 66px;
  height: 77px;
}

@media (max-width: 767px) {
  .logoIcon {
    width: 28px;
    height: 33px;
    fill: #fff;
    position: absolute;
    top: 15px;
    left: 20px;
  }
}

.menuButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: fixed;
  top: 70px;
  right: 70px;
  z-index: 1000;
}

@media (max-width: 767px) {
  .menuButton {
    gap: 9px;
    top: 17px;
    right: 21px;
  }
}

.menuText {
  font-family: 'Druk Cyr';
  font-weight: 700;
  font-size: 47px;
  line-height: 0.915;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #000;
}

@media (max-width: 767px) {
  .menuText {
    font-size: 26px;
    color: #fff;
  }
}

.menuIcon {
  width: 42px;
  height: 42px;
  fill: #00d0d2;
  transition: all 0.3s ease;
}

@media (max-width: 767px) {
  .menuIcon {
    width: 24px;
    height: 24px;
  }
}

.menuButton:hover .menuIcon {
  transform: rotate(-180deg);
  transition: transform 0.3s ease;
}
