.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 46px 70px;
}
.logoBox {
}
.logoIcon {
  width: 66px;
  height: 77px;
}

.menuButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;

  position: fixed;
  top: 70px;
  right: 70px;
  z-index: 1000;
}
.menuText {
  font-family: 'Druk Cyr';
  font-weight: 700;
  font-size: 47px;
  line-height: 0.915;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #000;
}
.menuIcon {
  width: 42px;
  height: 42px;
  fill: #00d0d2;
  transition: all 0.3s ease;
}

.menuButton:hover .menuIcon {
  transform: rotate(-180deg);
  transition: transform 0.3s ease;
}
