.heroAudienceWrapper {
  background: url('../src/image/HeroAudBackgroundOptimized.webp') no-repeat
    center top;
  background-size: cover;
}
@media (max-width: 767px) {
  .heroAudienceWrapper {
    background: url('../src/image/mob-background-crop.webp') no-repeat center
      top;
    background-size: cover;
  }
}

.hero,
.audience {
  position: relative;
  padding: 100px 20px;
}
