:root {
  --font-primary: 'Druk Cyr', 'Mona Sans', Arial, sans-serif;
  --color-text: #000000;
  --color-bg: #ffffff;
  --font-size-base: 16px;
  --line-height-base: 1.5;

  font-family: var(--font-primary);
  color: var(--color-text);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);

  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
}

body::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
  font-weight: 500;
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
